---
import i18next, { t, changeLanguage } from "i18next";
import Body from "../../components/Body.astro";
import BaseHead from "../../components/BaseHead.astro";
import Content from "../../components/Content.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Masthead from "../../components/Masthead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

changeLanguage("pt");
---

<!DOCTYPE html>
<html lang={i18next.language}>
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<Body>
<Header title={SITE_TITLE} />
<main class='pt-[56px]'>
  <Masthead />
  <Content>
    <p class='mb-8'>
      {t('landing.p1')}
      <br /><br />
      {t('landing.p2')}
      <br /><br />
      {t('landing.p3')}
    </p>
  </Content>
</main>
<Footer />
</Body>
</html>
