<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden"></div>
  <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">
    <div class="uppercase text-sm mb-4">Breno Teodoro</div>
    <div class="text-4xl font-mplus font-medium">
      Digital <span class="text-sky-800">crafts-person</span>
    </div>
  </div>
</section>
